[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
thoth-common = "*"
confluent-kafka = "*"
click = "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
pylint = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
